.welcome-header {
  margin: 90px auto;
  text-align: center;
}
.welcome-header__title {
  font-size: 20px;
  font-weight: 600;
}
.welcome-header__text {
  margin-top: 20px;
  color: #777;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
#login-form input {
  font-size: 14px;
  padding: 15px 0;
  border: none;
  margin-bottom: 25px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 3px;
}
#login-form a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  text-align: center;
}
