.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(163, 163, 163, 0.3);
}
.nav__link i {
  color: rgb(36, 26, 7);
  font-size: 23px;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
